.cproject
.project
rename_outfile.o
cart2sph.o
gaussian.o
radiation.o
prototypes.o
read_in.o
mesh_gen_o.o
main.o
error_check.o
displ_calc.o
write2file.o
myprogram
login.txt
outputfilename.txt
output.txt
data/logfile.txt
data/outputfile.txt
*.txt
*.o
html/
latex/
*~
